#content {
    padding-left: 10px;
}
#index {
    max-width: 800px;
}
#results_left {
    width: 60%;
    float: left;
    padding-right: 20px;
}
#results_right {
    width: 40%;
    float: left;
    position: fixed;
    top: 0px;
    right: 0px;
    padding-top: 10px;
}
.results_table {
    background-color: rgb(234, 250, 250);
}
#viewer_query {
    position: relative;
    height: 400px;
    width: 400px;
}
#viewer_target {
    position: relative;
    height: 400px;
    width: 400px;
}
