{% extends "progres_search/base.html" %}

{% block title %}Progres server{% endblock %}

{% block content %}

<h1>
    Progres server
</h1>

<div class="text_block">
    <p>
        Progres lets you quickly search protein structures against pre-embedded structural databases.
        This can be useful for remote homology detection, protein classification and inferring function from structure.
    <p>
    </p>
        Due to the way it is trained, Progres works with protein domains rather than whole structures. However, queries can be automatically split into domains before searching.
    <p>
    </p>
        If you want to search with many structures or embed databases to search against, please use the <a href="https://github.com/greener-group/progres">Progres software</a>.
        If you use the Progres web server or software, please cite the paper:
    </p>

    <ul>
        <li>
            Greener JG and Jamali K, Fast protein structure searching using structure graph embeddings, <em>Bioinformatics Advances</em> 5:1, vbaf042 (2025) - <a href="https://academic.oup.com/bioinformaticsadvances/article/5/1/vbaf042/8107707">link</a>
        </li>
    </ul>
</div>

<hr>

<h2>
    Submit:
</h2>

<div>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table id="submission_table" class="table">
            {% for field in form %}
                <tr>
                    <th>{{ field.label_tag }}</th>
                    <td>{{ field }} {{ field.errors }}</td>
                    <td>{{ field.help_text|safe }}</td>
                </tr>
            {% endfor %}
        </table>
        {{ form.non_field_errors }}
        <input type="submit" value="Submit">
    </form>
</div>

<div class="text_block">
    <p>
        Or view an <a href="{% url 'progres_search:results' example_url_str %}">example results page</a>.
    </p>

    <p>
        If you find an issue with the web server, please <a href="https://github.com/greener-group/progres_server/issues">open an issue</a> or <a href="https://www2.mrc-lmb.cam.ac.uk/groups/greener">get in touch</a>.
    </p>
</div>

{% endblock %}
